@media (max-width: 600px) {
  #nav {
    height: 40px;
    width: 100%;
    background-color: blueviolet;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
  }

  #nav-part1 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2px;
  }

  .gola {
    height: 10px;
    width: 10px;
    background-color: black;
    border-radius: 50%;
  }
}
