@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap');




h1{
  font-family: "Fredoka", sans-serif;
  font-weight: 500;
  text-transform: uppercase;
 
}

div{
    line-height: 1.1;
    text-align: justify;
}

.container{
    width: 90px;
    height: 90px;
    background-color: blueviolet;
    padding: 10px 10px;
    border: 1px solid black;
    border-radius: 45px;
}



