

div{
    height: 200px;
    width: 300px;
    background-color: aqua;
    border-style: double;
    border-width: 5px;
    border-color: red;
}

h1{
    border: 2px  red solid;
}

#span{
    border-left: 2px red dotted; 
    border-radius: 10%;
    padding: 10px 20px 12px 10px ;
    margin: 20px 10px 20px 10px;
}