*{
  margin: 0;
  padding: 0;
}

body{
  background-color: aquamarine;
}

div{
  height: 100px;
  width: 100px;
  background-color: aqua;
  border-radius: 10%;
  border: solid 2px black;
  cursor: pointer;
  transition-duration: 200ms;
}