<%- include("includes/head.ejs") %>
  <body>
    <h1>This is the Home Page 4 + 2 </h1>
    <h3> <%= 4 + 2 %> </h3>

    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae saepe
      aliquid culpa voluptatibus minima. Facere, et blanditiis. Itaque, ad
      perspiciatis.
    </p>

    <button>submit</button>
    <%- include("includes/footer.ejs") %> 
  </body>
</html>
