@media (max-width: 600px) {
  #main {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    padding: 40px;
    padding-top: 40px;
    gap: 50px;
  }

  #left {
    height: fit-content;
    width: 100%;
    /* background-color: blueviolet; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* border: 1px solid black; */
    padding-bottom: 30px;
    /* gap: 40px; */
  }

  #left h1 {
    /* font-size: 100px; */
    font-size: 18.6vw;
    font-weight: 500;
    /* line-height: 80px; */
    line-height: 16vw;
  }

  #bottom-left {
    /* background-color: brown; */
    height: 40%;
    width: 100%;
  }

  #color {
    /* background-color: blue; */
    width: fit-content;
    padding: 4px 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    border: 1px solid black;
  }

  #color1 {
    height: 12px;
    width: 12px;
    background-color: rgb(165, 136, 42);
    border-radius: 50%;
    margin: 3px;
  }
  #color h5 {
    font-size: 13px;
    margin-right: 5px;
    font-weight: 500;
  }

  #color2 {
    height: 12px;
    width: 12px;
    background-color: #1df701;
    border-radius: 50%;
  }

  #left h2 {
    margin-top: 20px;
    /* font-size: 25px; */
    font-size: 4vw;
    margin-bottom: 8px;
  }

  #left p {
    font-size: 3vw;
    width: 85%;
    font-weight: 500;
    color: #000000b9;
    /* line-height: 15px; */
    line-height: 3vw;
  }


  /* Right Div From Here  */


  
#right {
  height: 50%;
  width: 100%;
  /* background-color: #570048; */
  /* border: 1px black solid; */
  position: relative;
  display: flex;
  flex-direction: column-reverse;

}

#right-top {
  height: 60px;
  width: 100%;
  /* background-color: rebeccapurple; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 0px;
}

#right-top h4{
  font-size: 17px;
  font-weight: 600;
  
}

#right-top h5{
  font-size: 11.5px;

}

#right-top h5 i{
  color: goldenrod;
}


#right img{
  width: 100%;
  height: 88%;
  object-fit: cover;
  border-radius: 2px;
  
}

#black-gola {
  position: absolute;
  height: 100px;
  width: 100px;
  background-color: rgb(21, 22, 24);
  color: white;
  border-radius: 50%;
  top: -0%;
  right: -0%;
  display: flex;
  align-items: center;
  justify-content: center;
  /* transform: translate(50%,-50%); */

}

#black-gola h5{
  font-size: 5vw;
  font-weight: 500;

}

#rotated{
  position: absolute;
  left: 0%;
  /* background-color: rebeccapurple; */
  top: -13%;
  rotate: 0deg;
  transform-origin: 0 0;
  font-size: 8vw;
  font-weight: 500;
}
}
